<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
      <add key="TableConnectionString" value="【あなたのAzureポータルで接続情報を確認して設定してください】" />


      <!-- Client options -->
      <add key="TableConnectionMode" value="Gateway"/>
      <add key="TableConnectionProtocol" value="Https"/>
<!--
      <add key="TableConnectionMode" value="Direct"/>
      <add key="TableConnectionProtocol" value="Tcp"/>
-->
      <!--Table creation options -->
      <add key="TableThroughput" value="500"/>

    </appSettings>
</configuration>